@font-face {
    font-family: fontAwesome;
    src: url(/fonts/9466.otf);
}

@font-face {
    font-family: openSans;
    src: url(/fonts/2211.ttf);
}

@font-face {
    font-family: openSansItalic;
    src: url(/fonts/2208.ttf);
}

@font-face {
    font-family: openSansBold;
    src: url(/fonts/2204.ttf);
}

@font-face {
    font-family: robotoBold;
    src: url(/fonts/3955.ttf);
}

* {
    margin: 0px;
    padding: 0px; 
    // outline: 1px solid yellow;   
}

/* начало хедера */
a {
    text-decoration: none;
}

li {
    list-style: none
}

.header {    
    max-width: 1920px;    
    height: 130px;
    background-color: #131313;        
}

.main-menu {
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    max-width: 800px;  
}

.text-menu {
    display: block;
    color: #b3b3b3;
    font-family: openSansBold;
    font-size: 17px; 
    border-bottom: 3px solid black;         
}

.text-menu:hover {
    border-bottom: 3px solid red;
    color: white;    
}
/* конец хедера */

/* начало слайдера */
.slaider {
    max-width: 1920px;
    height: 100%;
    min-height: 622px;    
    background-image: url(/img/slaider.jpg);
    background-repeat: no-repeat;
    display: flex;
}

.block-wrapper {
    max-width: 230px;
    padding-left: 70px;    
    padding-top: 35px;    
}

.block {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    margin-left: 10px;
    display: inline-block;    
}

.black {
    background-color: #131313;
}

.darkblue {
    background-color: #065d92;
}

.darkred {
    background-color: #9e130c;
}

.gray {
    background-color: #b3b3b3;
}

.blue {
    background-color: #0f83d1;
}

.red {
    background-color: #cc0000;
}

.romb-wrapper {
    margin-top: 100px;
    margin-left: 79px;
}

.top-romb, .bottom-romb {
    display: flex;    
}

.top-romb {     
    margin-top: 40px;
    margin-left: 40px;
}

.bottom-romb {
    margin-left: 190px;
    margin-top: -40px;
}

.romb_background {
    width: 190px;
    height: 190px;
    background-color: #e7edf2;
    transform: rotate(45deg);
    margin-right: 110px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.romb {
    transform: rotate(-45deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.opacity {
    background-color: #c5cccf;
    opacity: 0.7;
}

.romb img:hover {
    transform: scale(1.2);           
}

/* конец слайдера */
/* начало портфолио и услуги */
.wrapper_blocks {    
    max-width: 1920px;
}

.wrapper_portfolio_service {
    margin: 0 auto;
    max-width: 1170px;
}

.h2 {
    font-family: robotoBold;
    font-size: 35px;
    font-weight: 700;
    line-height: 23px;
    padding-top: 68px;
    padding-bottom: 31px;
}

.text {
    font-family: openSans;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;    
}

.menu_portfolio_service {
    margin: 0 auto;
    max-width: 1170px;
    height: 30px;
    display: flex;    
    padding-top: 25px;
    text-align: center;
}

.menu_all {
    font-family: openSansBold;
    font-size: 15px;
    font-weight: 700;
    line-height: 23px;
    margin-right: 50px;
}

.menu_all:hover {
    border-bottom: 4px solid #9e130c;
}

.wrapper_img {
    margin: 0 auto;
    max-width: 1170px;        
    padding-top: 30px;
    display: flex;
    justify-content: space-between;    
}

.img_portfolio {        
    outline: 1px solid #b3b3b3;
    margin-right: 30px;                
}

.img_portfolio img {
    width: 100%;
    height: 100%;
}

.wrapper_more_work {
    max-width: 1170px;
    margin: 0 auto;
}

.more_work {
    width: 117px;
    font-family: openSans;
    font-size: 15px;    
    text-align: center;
    margin-top: 30px;
    margin-bottom: 75px;
    border: 3px solid #9e130c;
    padding: 10px 0;
}

.light_gray {
    background-color: #e8e8e8;
}

.img_service {
    margin-right: 30px;
}

.img_service img {
    width: 100%;
    height: 100%;
}

/* конец портфолио и услуги */
/* начало коментарии */
.wrapper_comments {
    max-width: 1920px;
    background-color: #3a3a3a;
}

.text_white {
    color: white;
}

.comments {
    max-width: 775px;
    padding-top: 5px;
    padding-right: 33px;
}

.img_man {
    float: left;
    padding-right: 33px;
    padding-top: 7px;
}
.ivanov {
    font-family: openSansBold;
    font-size: 17px;
    color: #fff;
}

.entrepreneur {
    font-family: openSansItalic;
    font-size: 12px;
    color: #fff;
}

.ivanov_comment {
    font-family: openSans;
    font-size: 15px;
    color: #fff;
    padding-top: 20px;
    line-height: 155%;
}

.wrapper_arrow  {
    max-width: 753px;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 70px;        
}

.img_arrow_left {
    width: 25px;
    height: 25px;
    background-color: #707070; 
    background-image: url(/img/arrow.png);
    display: inline-block;
}

.img_arrow_right {
    width: 25px;
    height: 25px;
    background-color: #707070; 
    background-image: url(/img/arrow2.png);
    display: inline-block;
    margin-left: 5px;
}
/* конец коментарии */
/* начало контакты */
.wrapper_contact {
    max-width: 1920px;
    background-color: #131313;
}

.wrapper_adress-form {
    max-width: 1170px;
    display: flex;    
}

.adress {
    background-color: #9e130c;
    height: 100%;
    padding: 30px 40px 0px 40px    
}

.text_office {
    font-family: openSansBold;
    font-size: 24px;
    color: #fff;        
    padding-bottom: 15px;
}

.text_adress {
    font-family: openSansBold;
    font-size: 17px;
    color: #fff;    
}

.text_contact {
    font-family: openSansBold;
    font-size: 24px;
    color: #fff;    
    padding-bottom: 13px;
}

.bottom {
    padding-bottom: 15px;
}

.write {
    font-family: openSansBold;
    font-size: 20px;
    color: #fff;
}

.form {
    margin-left: 90px;
}

form {
    margin-top: 25px;    
}

.form_left {
    float: left;
    margin-right: 25px;
}

.form_right {
    float: right;    
}

.label_text {
    display: block;
    color: #fff;
    font-family: openSansItalic;
    font-size: 15px;
    padding-bottom: 15px;
}

.input-form {
    max-width: 270px;    
    font-size: 25px;
    margin-bottom: 20px;
}

.message {
    width: 365px;
}

.margin_text {
    font-family: openSansItalic;
    font-size: 13px;
    color: #fff;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 5px;    
}

.button {
    width: 108px;
    text-align: right;
    background-color: #131313;
    color: #fff;
    border: 2px solid #9e130c;
    font-family: openSans;
    font-size: 15px;
    text-align: center;
    margin-left: 250px;
    padding: 10px 0px;
}

.map {
    margin-top: 15px;
    margin-bottom: 75px;
}
/* конец контакты */
.footer {
    max-width: 1920px;
    background-color: #000000;
}

.copyright {
    max-width: 1170px;
    margin: 0 auto;
    padding: 25px 0px;
    font-family: openSans;
    font-size: 15px;
    color: white;
}