* {
    margin: 0px;
    padding: 0px;
    
}

@font-face {
    font-family: myFont;
    src: url(/fonts/zepter.otf)
}

@font-face {
    font-family: myFont2;
    src: url(/fonts/gomel.otf)
}

.logo_text {
    width: 240px;
}


.header {
    margin: 0 auto;
    width: 1200px;
    height: 581px;
    background-image: url(/img/logo.jpg);
}

.main-wrapper {
    padding-top: 10px;
    padding-left: 15px;    
}

.main-menu {
    float: left;
}

.main-icons {
    float: right;
    display: flex;
    justify-content: space-between;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {       
    display:inline-block;
    border: 1px solid gold;
    border-radius: 10%;
    width: 100px; 
    text-align: center;   
    }

.menu-text {
    display: block;
    padding: 0 10px; 
    color: gold;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
}

a:hover  {
    background-color: midnightblue;
    color: gold;    
    border-radius: 10%;
}

.search, .call,
.write, .group,
.ask {
    width: 53px;
    height: 53px;
    margin-right: 15px;
}

.search {
    background-image: url(/img/search.png);
}

.call {
    background-image: url(/img/call.png);
}

.write {
    background-image: url(/img/write.png);
}

.group {
    background-image: url(/img/group.png);
}
.ask {
    background-image: url(/img/ask.png);
}

